.navbar {
    background-color: rgb(152, 135, 81) !important;
    opacity: 80% !important;
}

.navbar .navbar-brand{
    color: aliceblue !important;
}

.navbar .navbar-toggler-icon{
    filter: invert(1);
}
.navbar-toggler-icon:hover {
    filter: invert(84%) sepia(34%) saturate(1500%) hue-rotate(1deg) brightness(103%) contrast(2000%);
}



.navbar .nav-link{
    color: aliceblue !important;
}

.navbar .btn.btn-outline-success{
    color: rgb(213, 218, 222) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.home:hover{
    color:rgb(220, 220, 220) !important;
}



.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}



